@import url('https://fonts.googleapis.com/css2?family=Bitter:ital@1&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
 }

 h1 {
  font-size: 30px;
 }

 body {
  height: 100vh;
  font-family: 'Bitter', serif;
  color: rgba(10,87,162,255);
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(199, 228, 248);
 }

/* HEADER */
header.navbar {
  width: 100%;
  margin-inline: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 999;
  padding: 5px;
  position: fixed;
  background-color: white;
}

header.navbar .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header.navbar .logo img {
  width: 90px;
  padding-right: 10px;
}
 
header.navbar .nav-list ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}
 
header.navbar .nav-list li {
  list-style-type: none;
}
 
header.navbar .nav-list li a {
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 500;
  color: rgba(10,87,162,255);
  padding: .5rem 1.5rem;
  transition: all .2s ease-in-out;
}
 
header.navbar .nav-list li:hover a {
  color: rgba(110,193,240,255);
  text-decoration: underline;
}
/* MAIN */

#home {
  padding: 10px;
  height: 100hv;
  display: flex;
  padding-top: 100px;
  padding-bottom: 150px;
  margin: 0 auto;
}
.content {
  flex: 1;
  display: flex;
}

.icon {
  padding: 10px;
  flex: 1 1;
  background-color: white;
  padding-left: 50px;
  margin-right: 20px;
  border-radius: 0 100px 0 100px;
}

.icon img {
  margin-left: 70px;
  width: 400px;
}

.welcome {
  padding: 50px 50px 50px 50px;
  flex: 1;
  background-color: white;
  border-radius: 0 100px 0 100px;
}

#service {
  padding: 10px 10px 100px 10px;
  height: 100hv;
  align-items: center;
}

.service-title {
  margin: 0 0 50px 10px;
  align-items: center;
}

.layanan {
  display: flex;
}

.varian {
  border-radius: 20px;
  background-color: white;
  padding: 10px;
  margin: 10px;
}

.varian:hover {
  border-radius: 20px;
  background-color: white;
  padding: 10px;
  margin: 10px;
  border-style: dashed;
  border-color: rgba(10,87,162,255);
}

#about {
  padding: 10px 10px 100px 10px;
  height: 100hv;
}

#about h1, h2 {
  text-align: center;
}

.profile-image img {
  width: 400px;
  justify-content: center;
}

.profile-store {
  border-radius: 20px;
  background-color: white;
  padding: 10px;
  margin: 10px;
  padding: 10px;
}

.container {
  padding: 20px;
  display: flex;
}

.about-store {
  width: 50%;
  justify-content: left;
  margin-left: 20px;
}

footer {
  text-align: center;
  padding: 20px;
}

/* Medium devices (landscape tablets, 768px and down) */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 25px;
  }

  header.navbar {
    flex-direction: column;
  }

  #home {
    padding: 130px 10px 150px 10px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
  }
  
  .icon, .welcome {
    padding: 20px;
    flex: 1 1;
    background-color: white;
    margin: 10px;
    border-radius: 0 70px 0 70px;
  }
  
  .icon img {
    margin-left: 70px;
    width: 300px;
  }

  #service {
    padding: 120px 10px 10px 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  .service-title {
    margin: 0 0 50px 10px;
    align-items: center;
  }
  
  .layanan {
    display: flex;
    margin: 0 auto;
    flex-direction: column
  }

  .varian {
    border-radius: 20px;
    background-color: white;
  }
  
  #about {
    padding: 120px 10px 10px 10px;
    height: 100hv;
  }
  
  #about h1, h2 {
    text-align: center;
  }
  
  .profile-image img {
    width: 95%;
    justify-content: center;
  }
  
  .profile-store {
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    margin: 10px;
    padding: 10px;
  }
  
  .container {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .about-store {
    justify-content: left;
    width: 100%;
    margin-left: 20px;
  }
}